# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Vercel
.vercel

# Node (caso adicionem tooling no futuro)
node_modules/
npm-debug.log*

# Arquivos temporários
*.log
*.tmp
